<h1>Select project to EasyTracker</h1>

<input type="button" value="<%= t('new_project') %>" class="btn btn-primary">
<form class="form-search pull-right">
  <input type="text" class="search-query" placeholder="<%= t('search') %>">
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('description') %></th>
    </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, "projects/#{project.id}" %></td>
      <td><%= project.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>